<div class="card my-5">
  <div class="card-header">{{page.title}}</div>
  <div class="card-body">

    <app-form [form]="form"
              [model]="model"
              [fields]="page.fields"
              (handleSubmit)="action.emit($event)">
    </app-form>

  </div>
  <div class="card-footer">

    <button class="btn btn-{{button.class}} mr-2"
            *ngFor="let button of page.buttons"
            [type]="button.type"
            [disabled]="!form.valid"
            (click)="action.emit({ type: button.action, payload: model })">
      {{button.label}}
    </button>

    <div class="float-right">
      <a *ngFor="let link of page.links"
         [routerLink]="link.link"
         href=""
         class="btn btn-link mr-2">
        {{link.label}}
      </a>
    </div>
  </div>
</div>
